*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
  
}
#img{
    margin-top: 260px;
     margin-left: 40px;
     margin-right: auto;
     width: 200px;
     height: 200px;
     border-radius: 50%;
 }
 #header{
     font-family: 'Archivo Narrow', ;
     font-size: 50px;
     width: auto;
     height: 600px;
     color: white;
     background-image: url("./img/img1.jpg");
 }
 #info{
     position: absolute;
    font-family:'Archivo Narrow' ;
  
     font-size: 25px;
     padding-left: 410px;
   top: 380px;
 }
 #name{
     position: absolute;
    font-family:'Archivo Narrow' ;
  
     padding-left: 260px;
   top: 290px;
 }
 ul{
     padding-top: 20px;
 }
 li{
     display: inline;
     color: rgb(0, 0, 0);
     padding-top: 20px;
     padding-right: 25px;
     font-family: 'Archivo Narrow', sans-serif ;
     font-size: 15px;
     font-weight: bold;
     border-bottom: 3px solid transparent;
 }
 #first_item{
     padding-left: 70px;
 }
 li a{
     color: black;
     text-decoration: none;
 }
 a:hover{
     color:black;
     
     
 }
 .link{
    font-weight: 100;
    font-size: 20px;

 }
 .active{
    
        border-bottom: 3px solid goldenrod;
        font-size: 25px;
    
 }
     
 
#sel{
    font-family: 'Archivo Narrow', sans-serif ;

   
    padding-top:50px ;
    padding-bottom: 30px;
}
#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 360px 360px 360px ;
    
    padding-top: 50px;
    grid-gap: 30px;
    
    

}

.grid_item{
  
    border: 2px solid white;
    box-shadow: 0 1px 3px rgb(0, 0, 0);
    border-radius: 10px;
    

}
.card{
    margin:0;
    border-radius: 10px;
    height: 70%;
    width: 100%;
}


.details{
 display:inline-block;
}

#con{
    margin-left: 70px;
 
    margin-top: 5px;
}
#bac{
    background-color:#ecf0f1;
    margin-top: 0%;
}

.butt{
 text-decoration: none;
 border:none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 background-color:#34495e;
 margin: 100px 30px;
 

}
.out{
    text-decoration: none;
 border:none;
 color:#34495e;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 background-color:white;
 margin: 100px 30px;
 outline-style: solid;
 outline-width: 2px;
 outline-color:#34495e ;
}
#like{
    color: #e84393;
   
}
#like2{
    color: #e84393;
   
}
.card-acc
{
    width:40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
   outline-style: solid;
   outline-width: 3px;
   outline-color: #34495e;
   margin-left: 10px;
}
.acc-name{
    position:relative;
    font-family:'Archivo Narrow' ;
    display: inline;
    margin-left: 5px;
    margin-right: 170px;
    margin-top: -22px;
    top: -13px;
    font-size: 25px;
}

.top-down{
    position: fixed;
   width:30px;
   height: 30px;
   margin-left: 10px;
   color: #34495e;
}
#cat-select{
    width: auto;
}
@media screen and (max-width:650px){
    #header{
      width:auto;
     
    }
    #img{
        width:100px;
        height: 100px;
        margin-top: 360px;
    }
    #name{
        font-size: 45px;
         padding-left: 150px;
         padding-top: 85px;
    }
    #info{
        padding-top: 50px;
        padding-left: 270px;
    }
    #grid{
        grid-template-columns: auto;
        grid-row: 360px ;
        grid-gap: 5px;
        margin-left: -15px;
    }
    .butt{
        
        padding: 10px 27px;
        text-align: center;
        font-size: 16px;
         background-color:#34495e;
        margin-left: 0%;
        margin-right: 15px;
    }
    .out{
        padding: 10px 27px;
        text-align: center;
        font-size: 16px;
        color: #34495e;
         background-color:white;
        margin-left: 0%;
        margin-right: 15px;

    }
    @media screen and (max-width:430px) {
        #img{
            margin-top: 370px;
            width: 90px;
            height: 90px;
            margin-left: 5PX;
           
        
        }
        #name{
            padding-left: 100px;
            padding-top: 90px;
            font-size: 35px;
        }
        #info{
           padding-left: 190px;
           font-size: 20px;
        }
        .acc-name{
            margin-right: 30px;
        }

    }
    @media screen and (max-width:365px){
        .acc-name{
            margin-right: 0px;
        }

    }

}

