*{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
  
}
#footer{
    position: absolute;
    margin-bottom: 0px;
    height: 90px;
    background-color:#243546 ;
    width: 100%;

}
#developer{
    margin: 0 auto;
    width: 300px;
    position: relative;
    background-color: #ecf0f1;
    text-align: center;
}
#dev-h{
    text-align: center;
}#d-name{
    font-family:'Archivo Narrow' ;
    font-size: 25px;
}
.title{
    font-family: 'Zen Kurenaido', sans-serif;
}
#container{
    background-color: #ecf0f1;
    padding-left: 50px;
    padding-bottom: 30px;
   
}
#container1{
   
        background-color: #ecf0f1;
        padding-left: 50px;
        padding-bottom: 30px;
        margin-top: 30px;
        

}
.card{
  width: 90px;
  height: 50px;
  background-color:white;
   ;
    
    
    
}
#dev-h{
    font-size: 45px;
    font-family: 'Archivo Narrow';
    padding-top:40px ;
  
}
#deve{
   
    width: 100%;
    height: 100%;
   
}

#img{
    margin-top: 260px;
     margin-left: 40px;
     margin-right: auto;
     width: 200px;
     height: 200px;
     border-radius: 50%;
 }
 #header{
     font-family: 'Archivo Narrow', ;
     font-size: 50px;
     width: auto;
     height: 600px;
     color: white;
     background-image: url("./img/img1.jpg");
 }
 #info{
     position: absolute;
    font-family:'Archivo Narrow' ;
  
     font-size: 25px;
     padding-left: 410px;
   top: 380px;
 }
 #name{
     position: absolute;
    font-family:'Archivo Narrow' ;
  
     padding-left: 260px;
   top: 290px;
 }
 ul{
     padding-top: 20px;
 }
 li{
     display: inline;
     color: rgb(0, 0, 0);
     padding-top: 20px;
     padding-right: 25px;
     font-family: 'Archivo Narrow', sans-serif ;
     font-size: 15px;
     font-weight: bold;
     border-bottom: 3px solid transparent;
 }
 #first_item{
     padding-left: 70px;
 }
 li a{
     color: black;
     text-decoration: none;
 }
 a:hover{
     color:black;
     
     
 }
 .link{
    font-weight: 100;
    font-size: 20px;

 }
 .active{
    
        border-bottom: 3px solid goldenrod;
        font-size: 25px;
    
 }
     
 
#sel{
    font-family: 'Archivo Narrow', sans-serif ;

   
    padding-top:50px ;
    padding-bottom: 30px;
}
#grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row: 360px 360px 360px ;
    
    padding-top: 50px;
    grid-gap: 30px;
    
    

}

.grid_item{
   position: relative;
    border: 2px solid white;
    box-shadow: 0 1px 3px rgb(0, 0, 0);
    border-radius: 10px;
    

}
.card{
    margin:0;
    border-radius: 10px;
    height: 70%;
    width: 100%;
}


.details{
    position: relative;
 

}
.download_button{
  
  position: relative;
  display: inline;
  margin-top: 10px;
  float: right;
  margin-right: 10px;
  
  
  
    
}

#con{
    margin-left: 60px;
 
    margin-top: 5px;
}
#bac{
    background-color:#ecf0f1;
    margin-top: 0%;
}

.butt{
 text-decoration: none;
 border:none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 background-color:#34495e;
 margin: 100px 30px;
 

}
.out{
    text-decoration: none;
 border:none;
 color:#34495e;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 background-color:white;
 margin: 100px 30px;
 outline-style: solid;
 outline-width: 2px;
 outline-color:#34495e ;
}
#like{
    color: #e84393;
   
}
#like2{
    color: #e84393;
   
}
.card-acc
{
    width:40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
   outline-style: solid;
   outline-width: 3px;
   outline-color: #34495e;
   margin-left: 10px;
}
.acc-name{
   
    position:relative;
    font-family:'Archivo Narrow' ;
    display: inline;
    margin-left: 5px;
    

font-size: 25px;
top: -10px;}


.top-down{
    position: fixed;
   width:30px;
   height: 30px;
   margin-left: 10px;
   color: #34495e;
}
#cat-select{
    width: auto;
}
.font{
    position: relative;
    margin-left: auto;
}
#bio-text{
 text-align: center;
 font-size: 30px;
 font-family: 'Amatic SC', cursive;
}
#quote{
    font-size: 60px;
    margin-right: 30px;
}
#foot-nav{
    text-align: center;
    padding-top: 15px;
}
.foot{
  padding-right: 20px;
  text-decoration: none;
  color: white;
 
}
#insta{
    text-align: center;
    margin: 0%;
    font-size: 30px;

}
#email{
    text-align: center;
}
.show_cls{
    display: block;
}
.show_none{
    display: none;
}
.show{
    position: relative;
    text-decoration: none;
 border:none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 font-size: 16px;
 background-color:#34495e;
 margin-top:20px ;
 margin-right: 30px;
 text-align: center;
}


@media screen and (max-width:365px){
    .acc-name{
        padding-right: 0%;
    }
}


@media screen and (max-width:480px) {
    #img{
        margin-top: 370px;
        width: 90px;
        height: 90px;
        margin-left: 5px;
       
    
    }
    #grid{
        grid-template-columns: auto;
    }
    #name{
        left: 90px;
        padding-left: 20px;
        padding-top: 100px;
        font-size: 30px;
    }
    #info{
       padding-left: 170px;
       font-size: 20px;
       top: 430px;
    }
    .acc-name{
        margin-right: 30px;
    }
    
    .butt{

   color: white;
   padding: 10px 15px;

   font-size: 10px;

  margin: 80px 15px;
    }
    .out{
        padding: 10px 15px;
        font-size: 10px;
        margin: auto;
        
        
    }
    .con{
        margin-left: 30px;
    }
    

}
@media screen and (min-width:480px) and  (max-width:780px) {
    #header{
      width:auto;
     
    }
    #img{
        width:100px;
        height: 100px;
        margin-top: 360px;
    }
    #name{
        font-size: 45px;
         padding-left: 150px;
         padding-top: 85px;
    }
    #info{
        padding-top: 50px;
        padding-left: 270px;
    }
    #grid{
        grid-template-columns: auto ;
        grid-row: 300px ;
        grid-gap: 5px;
        margin-left: -15px;
    }
    .butt{
        
        padding: 10px 27px;
        text-align: center;
        font-size: 16px;
         background-color:#34495e;
        margin-left: 0%;
        margin-right: 15px;
    }
    .out{
        padding: 10px 27px;
        text-align: center;
        font-size: 16px;
        color: #34495e;
         background-color:white;
        margin-left: 0%;
        margin-right: 15px;

    }
}
@media screen and (min-width:780px) and (max-width:1200px){
    #grid{
        grid-template-columns: auto auto;
    }
}